{% extends "_base.html" %}
{% block title %}Cloud Instances{% endblock %}
{% block content %}

{% if cloud[0] == NULL %}
<div class="panel-body">
  <p>No Cloud are added yet, <a href="{{ url_for('cloud.add_cloud') }}">add a new item</a>.</p>
</div>
{% else %}
<table class="table table-stripe">
  <thead>
    <tr> 
      <th class="border-top-0">이름</th>
      <th class="border-top-0">플랜</th>
      <th class="border-top-0">운영체제</th>
      <th class="border-top-0">상태</th> 
      <th class="border-top-0">아이피주소</th>
      <th class="border-top-0">지역</th>
      <th class="border-top-0">생성날짜</th>
      <th class="border-top-0">제거날짜</th> 
      <th class="border-top-0">작업</th> 
      
    </tr>
  </thead>
  <tbody>
    {% for item in cloud %}
    <tr>
    
      <td>
        {% if item.Cloud.status == "Running" %}
        <a href="/cloud/detail/{{ item.Cloud.id}}">{{ item.Cloud.hostname }}</a>
        {% else %}
          {{ item.Cloud.hostname }}
        {% endif %}
      </td>
      <td>
        {{ item.Plan.plan_name}}
      </td>
      <td>
        {{ item.Oslist.os_name}}
      </td>
      
      <td>
        {{ item.Cloud.status}}
      </td>
      
      <td>
        {{ item.Cloud.ip_addr}}
      </td>
           
      <td>
        {{ item.Cloud.region}}
      </td> 
      <td>
        {{ item.Cloud.created_at}}
      </td>
      <td>
        {{ item.Cloud.deleted_at}}
      </td> 


      <td>
        
        {% if item.Cloud.status == "Running" %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions            
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" onclick="return confirm('정말로 재부팅 할까요?')" href="{{ url_for('cloud.reboot_instance', instance_id=item.Cloud.id) }}">Reboot</a> 
            <a class="dropdown-item" onclick="return confirm('정말로 삭제할까요?')" href="{{ url_for('cloud.delete_cloud', instance_id=item.Cloud.id) }}">Delete</a> 
          </div>
        </div>
        
        {% else %}
        <p> 제거됨</p>
        {% endif %}
      </td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>클라우드를 더 생성할 수 있습니다.<a href="{{ url_for('cloud.add_cloud') }}">add a new item</a>.</p>
{% endif %}

{% endblock %}
