<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-ie">
<!--<![endif]-->

<head>
   <!-- Meta-->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="">
   <title>Wintermin - Bootstrap Admin Theme</title> 
</head>

<body>
   <!-- START Main wrapper-->
   <div id="wrapper" class="wrapper">
      <section id="content-area">

          
<div class="main-content">
  <div style="margin-bottom: 10px;">
    <h3>BILLING
      <br>
      <small>Make Payment</small>
    </h3>
  </div>
    
    <div class="tabContainer">
        <div class="btn_group">
            <button id="groupbtn1" onclick="showPanel(0,'#31ba85')">고객 크레딧 충전 현황</button>
            <button id="groupbtn2" onclick="showPanel(1,'#31ba85')">고객 납부 현황</button>
        </div>

        <div class="tabPanel">
            

   
            <div class="table-responsive" style="margin-top: 150px;">
                        <table class="table table-hover">
                           <thead>
                              <tr>
                                 <th>예금주</th>
                                 <th>예금주 은행</th>
                                 <th>크레딧 금액</th>
                                 <th>관리자 승인</th>
                                 <th>요청 시간</th>
                                 <th>작업</th>
                              </tr>
                           </thead>
                           <tbody>
                               {% for item in items %}
                              <tr>
                                 <td>{{ item.deposit_name}} </td> 
                                 <td>{{ item.bank }} </td>
                                 <td>{{ item.charge_amount }}</td>
                                 <td>{{ item.status  }} </td>
                                 <td>{{ item.created_at }}</td>
                                 <td>
                                 
                                        <a class="dropdown-item" onclick="return confirm('정말로 수락할까요?')" href="transaction/{{ item.id }}/accept">수락</a> 
                                        <a class="dropdown-item" onclick="return confirm('정말로 거절할까요?')" href="transaction/{{ item.id }}/reject">거절</a> 
                                 
                                </td>
                              </tr>
                              
                              {% endfor %}
                              <!-- <tr>-->
                              <!--   <td>김누구</td> -->
                              <!--   <td>신한은행</td>-->
                              <!--   <td>5900KRW</td>-->
                              <!--   <td>확인 완료 - 이럴때 현재 잔액에서 5900만큼 추가되어야함</td>-->
                              <!--   <td>2021-02-06 12:33</td>-->
                              <!--   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                              <!--          <a class="dropdown-item" onclick="return confirm('정말로 수락할까요?')" href=" ">수락</a> -->
                              <!--          <a class="dropdown-item" onclick="return confirm('정말로 거절할까요?')" href=" ">거절</a> -->
                              <!--        </div>-->
                              <!--</tr> -->
                           </tbody>
                        </table>
                     </div>
                </div>  
                <div class="tabPanel"> 
                    <div class="table-responsive" style="margin-top: 150px;">
                        <table class="table table-hover">
                           <thead>
                              <tr>
                                 <th>인보이스</th>
                                 <th>날짜</th>
                                 <th>납부금액</th>
                                 <th>상태</th> 
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>Invoice 4</td>
                                 <td>2021-02-01</td>
                                 <td>43000원</td>
                                 <td>잔액부족 - 2021-02-05 23:59:59 까지 납부 하여야 함. 오늘날짜+1 00:00:00 에 결제 시도됨. ex 오늘 2021-03-20 01:15:00 일경우, 2021-03-21 00:00:00 에 결제 시도</td> 
                              </tr>  
                              <tr>
                                 <td>Invoice 3</td>
                                 <td>2021-01-01</td>
                                 <td>43000원</td>
                                 <td>결제성공 -  크레딧 충전 - 현재 잔액에서 나온 금액에서 43000만큼 빠져야 함</td> 
                              </tr> 
                              <tr>
                                 <td>Invoice 2</td>
                                 <td>2020-01-01</td>
                                 <td>43000원</td>
                                 <td>결제성공</td> 
                              </tr> 
                           </tbody>
                        </table>
                     </div>
                </div>
            </div> 
        <!-- 
            <button onclick="priceview.test_function2(4,3)">버튼테스트</button>
            <button onclick="priceview.move_view()">다른 뷰로 이동해보기 - cloud_list</button>  -->
        </div>
        
      </section> 
   </div> 
   <script src="/static/app/js/load.js"></script>
</body>

</html>