<aside class="offsidebar">
    <!-- START Off Sidebar (right)-->
    <nav>
       <ul class="nav">
          <!-- START user info-->
          <li>
             <div class="item">
                <div class="p-lg">
                   <div class="text-center">
                      <p>
                         <img src="app/img/user/02.jpg" alt="Image" class="img-circle img-thumbnail thumb64">
                      </p>
                      <p>
                         <strong>Arnold</strong>
                      </p>
                   </div>
                </div>
             </div>
          </li>
          <!-- END user info-->
          <li class="p">
             <div class="form-group has-feedback">
                <input type="text" placeholder="Search contacts.." class="form-control">
                <em class="fa fa-search form-control-feedback text-muted"></em>
             </div>
          </li>
          <!-- START list title-->
          <li class="p">
             <small class="text-muted">ONLINE</small>
          </li>
          <!-- END list title-->
          <li>
             <!-- START User status-->
             <a href="#" class="media p mt0">
                <span class="pull-right">
                   <span class="point point-success point-lg"></span>
                </span>
                <span class="pull-left">
                   <!-- Contact avatar-->
                   <img src="app/img/user/05.jpg" alt="Image" class="media-object img-circle thumb48">
                </span>
                <!-- Contact info-->
                <span class="media-body">
                   <span class="media-heading">
                      <strong>Laura Sam</strong>
                      <br>
                      <small class="text-muted">lau39</small>
                   </span>
                </span>
             </a>
             <!-- END User status-->
             <!-- START User status-->
             <a href="#" class="media p mt0">
                <span class="pull-right">
                   <span class="point point-success point-lg"></span>
                </span>
                <span class="pull-left">
                   <!-- Contact avatar-->
                   <img src="app/img/user/06.jpg" alt="Image" class="media-object img-circle thumb48">
                </span>
                <!-- Contact info-->
                <span class="media-body">
                   <span class="media-heading">
                      <strong>Beverley Pierce</strong>
                      <br>
                      <small class="text-muted">be40210</small>
                   </span>
                </span>
             </a>
             <!-- END User status-->
             <!-- START User status-->
             <a href="#" class="media p mt0">
                <span class="pull-right">
                   <span class="point point-danger point-lg"></span>
                </span>
                <span class="pull-left">
                   <!-- Contact avatar-->
                   <img src="app/img/user/07.jpg" alt="Image" class="media-object img-circle thumb48">
                </span>
                <!-- Contact info-->
                <span class="media-body">
                   <span class="media-heading">
                      <strong>Mika Long</strong>
                      <br>
                      <small class="text-muted">longlong</small>
                   </span>
                </span>
             </a>
             <!-- END User status-->
             <!-- START User status-->
             <a href="#" class="media p mt0">
                <span class="pull-right">
                   <span class="point point-warning point-lg"></span>
                </span>
                <span class="pull-left">
                   <!-- Contact avatar-->
                   <img src="app/img/user/08.jpg" alt="Image" class="media-object img-circle thumb48">
                </span>
                <!-- Contact info-->
                <span class="media-body">
                   <span class="media-heading">
                      <strong>Danielle Berry</strong>
                      <br>
                      <small class="text-muted">hunter49</small>
                   </span>
                </span>
             </a>
             <!-- END User status-->
          </li>
          <!-- START list title-->
          <li class="p">
             <small class="text-muted">OFFLINE</small>
          </li>
          <!-- END list title-->
          <li>
             <!-- START User status-->
             <a href="#" class="media p mt0">
                <span class="pull-right">
                   <span class="point point-lg"></span>
                </span>
                <span class="pull-left">
                   <!-- Contact avatar-->
                   <img src="app/img/user/09.jpg" alt="Image" class="media-object img-circle thumb48">
                </span>
                <!-- Contact info-->
                <span class="media-body">
                   <span class="media-heading">
                      <strong>Martin Cooper</strong>
                      <br>
                      <small class="text-muted">maryo</small>
                   </span>
                </span>
             </a>
             <!-- END User status-->
             <!-- START User status-->
             <a href="#" class="media p mt0">
                <span class="pull-right">
                   <span class="point point-lg"></span>
                </span>
                <span class="pull-left">
                   <!-- Contact avatar-->
                   <img src="app/img/user/10.jpg" alt="Image" class="media-object img-circle thumb48">
                </span>
                <!-- Contact info-->
                <span class="media-body">
                   <span class="media-heading">
                      <strong>Daniel Curtis</strong>
                      <br>
                      <small class="text-muted">danni</small>
                   </span>
                </span>
             </a>
             <!-- END User status-->
          </li>
          <li>
             <!-- Optional link to list more users-->
             <a href="#" title="See more contacts" class="p">
                <strong>
                   <small class="text-muted">&hellip;</small>
                </strong>
             </a>
          </li>
       </ul>
    </nav>
    <!-- END Off Sidebar (right)-->
 </aside>
 <!-- END aside-->