<style>
   .gray {
      background-color: #d7d7d7;
      color: black;
   }
</style>

<div class="container">
   <div class="header-content">
      <h1>Some cloud</h1>
      <h5>Cloud Service Provider</h5>
      <img src="../app/img/logo-single.png" alt="App Name" >
   </div>

    <!-- 배너자리 -->
   <div style="width: 100%; object-fit: cover;">
      <img src="../app/img/bg3.jpg" alt="App Name">
   </div>

   <div class="gray" >
      <div>
         
      </div>  
      <h3>직관적 UI</p>
      <h5 style="font-size: larger; color: grey;">여러개의 서버를 이용해 인프라 관리에 더 적은 시간을 투자하세요</p>
      <div style="background-image:'../app/img/landing/landing_cloudlist.png';">
         <br><br><br><br><br><br><br><br>
         <!-- <img src="../app/img/landing/landing_cloudlist.png" alt="App Name" class="img-responsive"> -->
      </div>
   </div>
   
      
   <div>
      <h5>비용 공개</h5>
      <p>한눈에 보이는 비용(그동안 상담 문의 너무 불편하셨 죠 ㅋㅋㅋㅋㅋ 정직한 비용 기준 제공 ^^^^</p>
      <img src="../app/img/landing/app-mobile.png" alt="App Name" class="img-responsive">
   </div>
</div>







