
<div class="main-content">
    <div class="row">
        <div class="panel panel-default">
           <div class="panel-heading">Security Rule Detail</div>
           <div class="panel-body">

              <form class="form-horizontal">
               <fieldset>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">Protocol</label>
                     <div class="col-sm-10">
                        <label class="radio-inline c-radio">
                           <input id="inlineradio10" type="radio" name="i-radio" value="option1" checked>
                           <span class="fa fa-check"></span>TCP</label>
                        <label class="radio-inline c-radio">
                           <input id="inlineradio20" type="radio" name="i-radio" value="option2" checked>
                           <span class="fa fa-check"></span>UDP</label>
                     </div>
                  </div>
               </fieldset>

               <div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">FromPort</label>
                  <div class="col-sm-9">
                     <input id="input-id-1" type="text" class="form-control">
                  </div>
               </div>
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">ToPort</label>
                  <div class="col-sm-9">
                     <input id="input-id-1" type="text" class="form-control">
                  </div>
               </div>
                 
               
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">CIDR</label>
                  <div class="col-sm-9">
                     <input id="input-id-1" type="text" class="form-control">
                  </div>
               </div>

               <div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">description</label>
                  <div class="col-sm-9">
                     <input id="input-id-1" type="text" class="form-control">
                  </div>
               </div>

               
                
               
                 <div class="form-group">
                    <div class="col-lg-offset-6 col-lg-10">
                       <button type="submit" class="btn btn-sm btn-inverse" style="padding-right: 18px; padding-left: 18px; padding-top: 7px; padding-bottom: 7px;">Edit</button>
                    </div>
                 </div>
              </form>
           </div>
        </div>
        <!-- END panel-->
     </div>
    



 </div>