<!DOCTYPE html>
<html lang="en" class="no-ie">

<head>
    <title>Account Settings</title>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="">
   <link rel="stylesheet" href="../app/css/bootstrap.css">
   <link rel="stylesheet" href="../vendor/fontawesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="../vendor/animo/animate+animo.css">
   <link rel="stylesheet" href="../app/css/app.css">
   <link rel="stylesheet" href="../app/css/common.css">
   <script src="../vendor/modernizr/modernizr.js" type="application/javascript"></script>
   <script src="../vendor/fastclick/fastclick.js" type="application/javascript"></script>
</head>
<body>
    <div class="row row-table page-wrapper">
       
        <div class="col-lg-4  align-middle">
         <div class="row">
            <div class="row">
               <!-- START panel-->
               <div class="panel panel-default">
                  <div class="panel-heading">Account Settings</div>
                  <div class="panel-body">
                     <form role="form">
                        <div class="form-group">
                           <label>Name</label>
                           <input type="name" placeholder="Enter name" class="form-control">
                        </div>

                        <div class="form-group">
                           <label>Email address</label>
                           <input type="email" placeholder="Enter email" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Phone number</label>
                           <input placeholder="Enter number" class="form-control">
                        </div>

                        <div class="form-group">
                           <label>Password</label>
                           <input type="password" placeholder="Password" class="form-control">
                        </div>
                        
                        <button type="submit" class="btn btn-block btn-success">Submit</button>
                     </form>
                  </div>
               </div>
               <!-- END panel-->
            </div>
         </div>

           
        </div>
     </div>
     <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/animo/animo.min.js"></script>
    <script src="../app/js/pages.js"></script>
    </body>

</html>