<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-ie">
<!--<![endif]-->

<head>
   <!-- Meta-->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="">
   <title>Wintermin - Bootstrap Admin Theme</title> 
    <link rel="stylesheet" href="/static/app/css/views/cloudlist2.css" type="text/css" />
</head>

<body>
   <!-- START Main wrapper-->
   <div id="wrapper" class="wrapper">
      <section id="content-area">
         <div class="main-content">
            <h3>클라우드 대시보드
               <br>
               <small>클라우드 detail</small>
            </h3>
            <div class="row">
          <div class="col-md-12">
             <h2>Information</h2>
              <p>Cloud Public IP : {{ cloud["Reservations"][0]["Instances"][0]["PublicIpAddress"]}}</p>
              <p>Cloud Private IP : {{ cloud["Reservations"][0]["Instances"][0]["PrivateIpAddress"]}}</p>
              <p>Architecture :  {{ cloud["Reservations"][0]["Instances"][0]["Architecture"]}} </p>
              <p>PrivateDnsName :  {{ cloud["Reservations"][0]["Instances"][0]["PrivateDnsName"]}} </p>
              <p>OutboundTraffic Usage :  {{traffic }} </p>
          </div>
          <div class="col-md-12">
              <h2>Console Status</h2>
              
              <img src="data:image/jpeg;base64, {{ screenshot["ImageData"] }}" width="300" height="300" src="">
          </div>
          <div class="col-md-12">
            <h2>Console Logs</h2>
            <pre style="height:400px; overflow: auto;"><code>{{ output["Output"] }}</code></pre>
          </div>
          <div class="col-md-12">
              <h2>CPU Usage</h2>
              <img src="/cloud/detail/{{ cloudid }}/CPUUtilization/1">
          </div>
          <div class="col-md-12">
              <h2>Network Usage (Inbound)</h2>
              <img src="/cloud/detail/{{ cloudid }}/NetworkIn/1">
          </div>
          <div class="col-md-12">
              <h2>Network Usage (Outbound)</h2>
              <img src="/cloud/detail/{{ cloudid }}/NetworkOut/1">
          </div>
          <div class="col-md-12">
              <h2>SSD IO Balance</h2>
              <img src="/cloud/detail/{{ cloudid }}/EBSIOBalance/1">
          </div>
          <div class="col-md-12">
              <h2>App Deploy</h2>
              
               <button onclick="deploy('magento', {{ cloudid}} ) ;delete(this)">Deploy magento</button>
                <button onclick="deploy('php', {{  cloudid }} )">Deploy php </button>
                
                <button onclick="deploy('python' , {{ cloudid}} )">Deploy python</button>
                <button onclick="deploy('ruby' , {{ cloudid }} )">Deploy php </button>
             <h3>Loadbalancer IP : <></h3>
             <h3>connected_domain : <></h3>
          </div>
          <div class="col-md-12">
              <h2>App Status</h2>
                 
          </div>
         </div>
      </section> 
   </div> 
   <script src="/static/app/js/load.js"></script>
</body>

</html>