<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-ie">
<!--<![endif]-->

<head>
   <!-- Meta-->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="">
   <title>Wintermin - Bootstrap Admin Theme</title> 
</head>

<body>

   <!-- START Main wrapper-->
   <div id="wrapper" class="wrapper">
      <section id="content-area">
         <div class="main-content">
            <div style="margin-bottom: 25px;">
               <h3>사용자 페이지
                 <br>
                 <small>사용자 관련 변경 사항</small>
               </h3>
             </div>
             <div class="card mb-3" style="max-width: 30rem;">
              <div class="card-header text-white bg-primary mb-3">Email Address</div>
              <div class="card-body">
                <p class="card-text">{{current_user.email}}</p>
              </div>
            </div>
            
            <div class="card mb-3" style="max-width: 30rem;">
              <div class="card-header bg-light mb-3">Account Actions</div>
              <div class="card-body">
                <p class="card-text"><a href="{{ url_for('users.user_email_change') }}">Change Email</a></p>
                <p class="card-text"><a href="{{ url_for('users.user_password_change') }}">Change Password</a></p>
              </div>
            </div>
            
            <div class="card mb-3" style="max-width: 30rem;">
              <div class="card-header bg-light mb-3">Statistics</div>
              <div class="card-body">
                <p class="card-text">Member since: {{ current_user.registered_on.strftime("%A %B %d, %Y") }}</a></p>
                {% if current_user.last_logged_in != None %}
                <p class="card-text">Last Logged In: {{ current_user.last_logged_in.strftime("%A %B %d, %Y") }}</p>
                {% else %}
                <p class="card-text">First time logged in. Welcome!</p>
                {% endif %}
                {% if current_user.email_confirmed_on != None %}
                <p class="card-text">Email confirmed on: {{ current_user.email_confirmed_on.strftime("%A %B %d, %Y") }}</p>
                {% else %}
                <p class="card-text">Email has not been confirmed!</p>
                {% endif %}
              </div>
            </div>
         </div>
      </section> 
   </div> 
   <script src="/static/app/js/load.js"></script>
</body>

</html>