<!DOCTYPE html>
<html lang="en" class="no-ie">
<style>
   #testimonial {
      padding: 20px;
      text-align: center;
   }
   
   .box-placeholder {
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border-radius: 10px;
      border-style: none;
      
   }
   .box-placeholder:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      background-color: #31ba850e;
   }
   #option{
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
   } 
   #option_detail{
      color:  #8f8f8f;
   }
   h5{
      font-size: x-large;
      font-weight: bolder;
   }
      
   header .app-logo a,
   header .menuapp-buttons a {
   text-decoration: none !important;
   }
   

</style>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="">
   <title>Somecloud</title>
   <link rel="stylesheet" href="/static/app/css/bootstrap.css">
   <!-- Vendor CSS-->
   <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="/static/vendor/animo/animate+animo.css">
   <!-- App CSS-->
   <link rel="stylesheet" href="/static/app/css/app.css">
   <link rel="stylesheet" href="/static/app/css/common.css">
   <!-- Modernizr JS Script-->
   <script src="/static/vendor/modernizr/modernizr.js" type="application/javascript"></script>
   <!-- FastClick for mobiles-->
   <script src="/static/vendor/fastclick/fastclick.js" type="application/javascript"></script>
   <link rel="stylesheet" href="/static/app/css/landing.css">
</head>

<body>
   

   <!-- . -->
   <header>
      <div class="container">
         <nav class="row" style="margin: 20px;">
            <div class="col-md-2 app-logo">
               <a href="#" class="logo-wrapper">
                  <img src="/static/app/img/blackcloudlogo.png" alt="App Name" class="img-responsive">
               </a>
            </div>
            <div class="col-md-10">
               <ul class="list-inline menuapp-buttons" style="float: right;">
                  <li class="mr-lg">
                     <a href="/">
                        <strong>HOME</strong>
                     </a>
                  </li>
                  {% if current_user.is_authenticated %}
                   <li class="mr-lg">
                     <a href="/cloud/list">
                        <strong>Go to Dashboard</strong>
                     </a>
                  </li>
                  <li class="mr-lg">
                     <a href="/logout">
                        <strong>Logout</strong>
                     </a>
                  </li>
                  {% else %}
                  <li class="mr-lg">
                     <a href="/login">
                        <strong>Login</strong>
                     </a>
                  </li>
                  <li>
                     <a href="/register">
                        <strong>Register</strong>
                     </a>
                  </li>
                  {% endif %}
               </ul>
            </div>
         </nav>
         <div class="header-content">
            <div class="row row-flush row-table">
               <div class="col-xs-12 col-lg-6 align-middle">
                  <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" class="app-presentation">
                     <img src="/static/app/img/landing1.png" alt="App Name" class="img-responsive">
                  </div>
               </div>

               <div class="col-xs-12 col-lg-6 align-middle">
                  <div class="side-presentation">
                     <div class="h1 header-title" style=" display: inline;">사이트 무제한 생성 클라우드 웹 호스팅 </div>
                     <br>
                     <br>
                     <p style="font-size: larger;">사용 여부에 따라 필요한 만큼만 사용하는 방식이며</p>
                     <p style="font-size: larger;"> 24시간 질문 페이지 / 다른 서비스와의 연동 / 모니터링 등의 기능을 통해</p>
                     <p style="font-size: larger;">초심자에게 간편한 서비스를 제공합니다 </p>
                     <br>
                     <div class="header-button">
                        <a href="/register" class="btn btn-inverse">
                           <strong>지금 시작하세요</strong>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>


   <section id="testimonial" class="bg-inverse">
      <div class="row" >
         <div id="carousel-testimonial" data-ride="carousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-testimonial" data-slide-to="1"></li>
               <li data-target="#carousel-testimonial" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height: 100px;">
               <div class="item active">
                  <div class="row">
                     <div class="col-xs-8 col-xs-offset-2">
                        <h4>
                           <em class="fa fa-exchange"></em>
                           <em>사용량 만큼 지불</em>
                        </h4>
                        <p>필요한 크기 만큼 필요한 기간만큼 자유자재로 사용 가능한 시스템입니다.</p>
                        <p>계약에 얽매이지 않고 자유롭게 서비스를 이용하세요.</p>
                     </div>
                  </div>
               </div>
               <div class="item ">
                  <div class="row">
                     <div class="col-xs-8 col-xs-offset-2">
                        <h4>
                           <em class="fa fa-male"></em>
                           <em>24/7 지원가능</em>
                        </h4>
                        <p>24시간 상주하는 질문 관리자와 1:1 채팅 가능</p>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="row">
                     <div class="col-xs-8 col-xs-offset-2">
                        <h4>
                           <em class="fa fa-key"></em>
                           <em>설치하기 쉬운 키체어</em>
                        </h4>
                        <p>사이트 내에서 쉽게 다운로드 할 수 있습니다.</p>
                        <p>키 뿐만 아니라 방화벽도 한 사이트 내에서 쉽게 관리하세요.</p>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Controls -->
            <a href="#carousel-testimonial" data-slide="prev" class="left carousel-control">
               <em class="fa fa-chevron-circle-left"></em>
            </a>
            <a href="#carousel-testimonial" data-slide="next" class="right carousel-control">
               <em class="fa fa-chevron-circle-right"></em>
            </a>
         </div>
      </div>
   </section>

   
   <section class="bg-white" style="padding-top: 100px;">
      <div class="container">
         <div class="row">
            <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="-250" class="col-lg-6">
               <img src="/static/app/img/Dashboard.png" alt="App Name" class="img-responsive">
            </div>
            <div class="col-lg-6">
               <h2 class="page-header">간결한 서버 운용</h2>
               <p class="text-md">서버 운용 지식이 없어도 쉽게 사용가능한 방식 </p>
               <p>생성, 제거를 자유자재로 가능하므로 용량 내에서는 여러 웹사이트 제작 가능</p>
               <p>안전하고 믿을 만한 단독 서버 사용</p>
               <br>
            </div>
         </div>
      </div>
   </section>
   <section>
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <h2 class="page-header">한 눈에 보이는 계산 방식</h2>
               <p>상담을 통해 선정하는 불투명한 산출 방식 대신 정찰제로 운영</p>
               <p>원하는 크기와 기간에 따른 다양한 선택폭</p>
               <p>타사보다 80% 정도 저렴한 가격</p>
               <br>
            </div>
            <div data-toggle="play-animation" data-play="fadeInRight" data-offset="-250" class="col-lg-6">
               <img src="/static/app/img/billing.png" alt="App Name" class="img-responsive">
            </div>
         </div>
      </div>
   </section>
   <section class="bg-white" style="padding-bottom: 100px;">
      <div class="container">
         <div class="row">
            <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="-250" class="col-lg-6">
               <img src="/static/app/img/monitoring.png" alt="App Name" class="img-responsive">
            </div>
            <div class="col-lg-6">
               <h2 class="page-header">지속적인 모니터링 가능</h2>
               <p>사이트에서 제공하는 다양한 모니터링 기능 제공</p>
               <p>24시간 질문 관리자 상주</p>
               <p>사용량에 따라 서버 크기 자유롭게 변경 가능</p>
               <br>
            </div>
         </div>
      </div>
   </section>






   <section id="clients" class="bg-white" style="margin: 50px 0px;">
      <div class="container" style="text-align: center;">
         <h2 class="section-header">모든 운영체제를 지원합니다
            <br>
            <small class="text-muted text-center">여러 운영체제로 사용가능합니다</small>
         <h2 class="section-header"></h2>
            <br>
         </h2>
         <div class="row">
            <img src="/static/app/img/server.png" class="img-responsive">
         </div>
      </div>
   </section>

   <section class="bg-white" style="margin: 150px 0px;">
      <div class="container" style="text-align: center;">
         <h2 class="section-header">넓은 선택폭을 제공합니다
            <br>
            <small class="text-muted text-center">필요한 서비스와 필요한 크기에 따라 서비스를 선택해보세요</small>
            <br>
            <br>
         </h2>
         <div class="col-lg-3">
            <div class="box-placeholder" class="card"  data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
               <p id="option">m2.small</p>
               <p id="option_detail">2048GB RAM</p>
               <p id="option_detail">40GB SSD</p>
               <p id="option_detail">2048 GB Traffic</p>
               <a href="#go_plan" class="btn btn-success">select</a>
             </div>
         </div>
         <div class="col-lg-3">
            <div class="box-placeholder" class="card"  data-toggle="play-animation" data-play="fadeInUp" data-offset="-100">
               <p id="option">m3.medium</p>
               <p id="option_detail">4000GB RAM</p>
               <p id="option_detail">60GB SSD</p>
               <p id="option_detail">2048 GB Traffic</p>
               <a href="#go_plan" class="btn btn-success" >select</a>
             </div>
         </div>
         <div class="col-lg-3">
            <div class="box-placeholder" class="card"  data-toggle="play-animation" data-play="fadeInUp" data-offset="-200">
               <p id="option">m3.big</p>
               <p id="option_detail">16384GB RAM</p>
               <p id="option_detail">100GB SSD</p>
               <p id="option_detail">6000 GB Traffic</p>
               <a href="#go_plan" class="btn btn-success">select</a>
             </div>
         </div>
         <div class="col-lg-3">
            <div class="box-placeholder" class="card"  data-toggle="play-animation" data-play="fadeInUp" data-offset="-300">
               <p id="option">m4.large</p>
               <p id="option_detail">32768GB RAM</p>
               <p id="option_detail">100GB SSD</p>
               <p id="option_detail">8000 GB Traffic</p>
               <a href="#go_plan" class="btn btn-success">select</a>
             </div>
         </div>

      </div>
   </section>


   <section id="callout" style="padding-bottom: 100px;">
      <div data-toggle="play-animation" data-play="fadeInLeftBig" data-offset="-200" class="container text-center">
         <h2>지금 시작하세요</h2>
            <br>
            <a href="/register" class="btn btn-inverse btn-lg btn-oval btn-inverse">
               <strong>  Join NOW !  </strong>
            </a>
         </p>
      </div>
   </section>
   


<!-- 
   <footer class="footer-1 bg-inverse" style="padding: 100px 0px; font-size: larger;" >
      <div class="container">
         <div class="row">
            <div class="col-sm-2 col-xs-6">
               <nav>
                  <h5 style="font-size: large; font-weight: bolder;">PRODUCT</h5>
                  <p>2021 CAPSTONE</p>
               </nav>
            </div>
            
            <div class="col-sm-4 col-xs-6">
               <nav>
                  <h5 style="font-size: large; font-weight: bolder;">DETAIL</h5>
                  <p>클라우드 리셀링 서비스</p>
               </nav>
            </div>
            
            <div class="col-sm-2 col-xs-6">
               <nav>
                  <h5 style="font-size: large; font-weight: bolder;">INFORMATION</h5>
                  <p>20181299 김동규</p>
                  <p>20181299 박희주</p>
               </nav>
            </div>
            <div class="col-sm-4 col-xs-6">
               <nav>
                  <h5 style="font-size: large; font-weight: bolder;">CONTACT</h5>
                  <p>gmlwngmlwn@kookmin.ac.kr</p>
                  <p>gmlwngmlwn@kookmin.ac.kr</p>
               </nav>
            </div>
         </div>
      </div>
   </footer> -->
   
   

   
   <script src="/static/vendor/jquery/jquery.min.js"></script>
   <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
   <!-- Animo-->
   <script src="/static/vendor/animo/animo.min.js"></script>
   <!-- Custom script for pages-->
   <script src="/static/app/js/pages.js"></script>
   <!-- END Scripts-->
</body>

</html>