<aside class="aside">
    <!-- START Sidebar (left)-->
    <nav class="sidebar">
       <ul class="nav">
          <!-- START Menu-->
          <!-- <li class="nav-heading">Main</li>
           -->
          <li class="active">
             <a href="#" title="Pages" data-toggle="collapse-next" class="has-submenu">
                <em class="fa fa-file-text-o"></em>
                <span class="item-text">Pages</span>
             </a>
             <!-- START SubMenu item-->
             <ul class="nav collapse in">
                <li>
                   <a href="#dashboard" title="Landing" data-toggle="" class="no-submenu">
                      <span class="item-text">대시보드</span>
                   </a>
                </li>
                <li>
                  <a href="#priceview" title="priceview" data-toggle="" class="no-submenu">
                     <span class="item-text">PriceView</span>
                  </a>
               </li>
                <!-- <li>
                   <a onclick="return route('cloud_list')"  title="Login" data-toggle="" class="no-submenu">
                      <span class="item-text">클라우드</span>
                   </a>
                </li> -->
                
             </ul>
             <!-- END SubMenu item-->
          </li>
          
             </ul>
             <!-- END SubMenu item-->
          </li>
          <!-- END Theme color options-->
           
          <!-- END Menu-->
       </ul>
    </nav>
    <!-- END Sidebar (left)-->
 </aside>