<aside class="aside">
    <!-- START Sidebar (left)-->
    <nav class="sidebar">
       <ul class="nav">
          <!-- START Menu-->
          <!-- <li class="nav-heading">Main</li>
           -->
          <li class="active">
             <a href="#" title="Pages" data-toggle="collapse-next" class="has-submenu">
                <em class="fa fa-file-text-o"></em>
                <span class="item-text">Pages</span>
             </a>
             <!-- START SubMenu item-->
             <ul class="nav collapse in">
                <li>
                   <a onclick="return route('dashboard')"  title="Landing" data-toggle="" class="no-submenu">
                      <span class="item-text">대시보드</span>
                   </a>
                </li>
                <li>
                  <a onclick="return route('price_view')"  title="priceview" data-toggle="" class="no-submenu">
                     <span class="item-text">PriceView</span>
                  </a>
               </li>
               <li>
                  <a onclick="return route('security_group')"  title="security_group" data-toggle="" class="no-submenu">
                     <span class="item-text">security_group</span>
                  </a>
               </li>
               <li>
                  <a onclick="return route('security_detail')"  title="security_detail" data-toggle="" class="no-submenu">
                     <span class="item-text">security_detail</span>
                  </a>
               </li>
               <li>
                  <a onclick="return route('security_edit')"  title="security_edit" data-toggle="" class="no-submenu">
                     <span class="item-text">security_edit</span>
                  </a>
               </li>
                
             </ul>
             <!-- END SubMenu item-->
          </li>
          
             </ul>
             <!-- END SubMenu item-->
          </li>
          <!-- END Theme color options-->
           
          <!-- END Menu-->
       </ul>
    </nav>
    <!-- END Sidebar (left)-->
 </aside>