


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
<!-- Bootstrap CSS-->

   
<link rel="stylesheet" href="/app/css/bootstrap.css">
<!-- Vendor CSS-->
<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/vendor/animo/animate+animo.css">
<link rel="stylesheet" href="/vendor/csspinner/csspinner.min.css">
<!-- START Page Custom CSS-->
<!-- END Page Custom CSS-->
<!-- App CSS-->
<link rel="stylesheet" href="/app/css/app.css"> 
<link rel= "stylesheet" href = "/app/css/global.css"> 