<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-ie">
<!--<![endif]-->


<head>
   <!-- Meta-->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="">
   <title>Wintermin - Bootstrap Admin Theme</title> 
</head>

<body>
   <!-- START Main wrapper-->
   <div id="wrapper" class="wrapper">
      <section id="content-area">

         <div class="main-content">
            <div class="row">
                <div class="panel panel-default">
                   <div class="panel-heading">Security Rule Detail</div>
                   <div class="panel-body">
        
                      <form class="form-horizontal">
                       <fieldset>
                          <div class="form-group">
                             <label class="col-sm-2 control-label">Protocol</label>
                             <div class="col-sm-10">
                                <label class="radio-inline c-radio">
                                   <input id="inlineradio10" type="radio" name="i-radio" value="option1" checked>
                                   <span class="fa fa-check"></span>TCP</label>
                                <label class="radio-inline c-radio">
                                   <input id="inlineradio20" type="radio" name="i-radio" value="option2" checked>
                                   <span class="fa fa-check"></span>UDP</label>
                             </div>
                          </div>
                       </fieldset>
        
                       <div class="form-group">
                          <label for="input-id-1" class="col-sm-2 control-label">FromPort</label>
                          <div class="col-sm-9">
                             <input id="input-id-1" type="text" class="form-control">
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="input-id-1" class="col-sm-2 control-label">ToPort</label>
                          <div class="col-sm-9">
                             <input id="input-id-1" type="text" class="form-control">
                          </div>
                       </div>
                         
                       
                       <div class="form-group">
                          <label for="input-id-1" class="col-sm-2 control-label">CIDR</label>
                          <div class="col-sm-9">
                             <input id="input-id-1" type="text" class="form-control">
                          </div>
                       </div>
        
                       <div class="form-group">
                          <label for="input-id-1" class="col-sm-2 control-label">description</label>
                          <div class="col-sm-9">
                             <input id="input-id-1" type="text" class="form-control">
                          </div>
                       </div>
                         <div class="form-group">
                            <div class="col-lg-offset-6 col-lg-10">
                               <button type="submit" class="btn btn-sm btn-inverse" style="padding-right: 18px; padding-left: 18px; padding-top: 7px; padding-bottom: 7px;">Edit</button>
                            </div>
                         </div>
                      </form>
                   </div>
                </div>
                <!-- END panel-->
             </div>
            
      </section> 
   </div> 
   <script src="/app/js/load.js"></script>
</body>

</html>